#nav-bar{
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;
}

#nav-bar .logo{
  width: 80px;
  height: 80px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

#nav-bar .header{
  font-size: 200%;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  line-height: 80px;
}

#nav-bar #compose-button{
  opacity: 0.8;
  position: absolute;
  background-color: #c1fff8;
  color: black;
  top: 0.5em;
  right: 2em;
  border: 2px solid black;
  padding: 0.9em 1.4em;
}

#nav-bar #compose-button:hover{
  opacity: 1;
  position: absolute;
  right: 1.8em;
  border: 3px solid black;
  padding: 1em 1.5em;
}

