#nav-bar{
  height:80px;
  position: fixed;
  left:0;
  right:0;
  background-color: #00a087;
  color: #e8fdff;
  padding-left:2em;
  padding-right:2em;
  padding-top:0;
  padding-bottom:0;
  z-index:1;
}

#nav-bar .logo{
  width:80px;
  height:80px;
  padding-left:5px;
  padding-right:5px;
  float:left;
}

#nav-bar .header{
  font-size:200%;
  padding-left:5px;
  padding-right:5px;
  float:left;
  line-height:80px;
}

