
/*styling for tweets*/
#tweet-container{
    font-family: 'Raleway', sans-serif;
}

.tweets{
  border-radius: 10px;
  width: 85%;
  height: 180px;
  margin: auto;
  align-items: center;
  border: 1px solid grey;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.tweets .article-tweets-header{
  position: absolute;
  top: 0;
  height: 3em;
  width: 100%;
  background-color: rgb(0, 160, 135, 0.2)
}

.tweets .article-tweets-footer{
  position: absolute;
  bottom: 0px;
  height: 2em;
  width: 100%;
  border-top: 1px solid rgb(0, 160, 135, 0.2);
}

.tweets .article-tweets-footer .icon{
  display: none;
  height: 25px;
  width: 25px;
  float: right;
  margin: 2px;
}

.tweets .article-tweets-footer .retweet{
  display: none;
  height: 25px;
  width: 25px;
  float: right;
  margin: 2px;
}

.tweets .article-tweets-footer .flag{
  display: none;
  height: 20px;
  width: 35px;
  float: right;
  margin-top:2px;
  padding-top:2px;
}

.tweets .article-tweets-footer .heart{
  display: none;
  height: 30px;
  width: 30px;
  float: right;

}

.tweets .profile-picture{
  opacity: 0.8;
  height: 35px;
  width: 35px;
  padding:2px;
  margin: 5px;
}

.tweets .personal-tweet{
  position: absolute;
  top: 2.75em;
  padding: 1em;
}

.tweets .person-name{
  position: absolute;
  color: rgb(2, 20, 61, 0.7);
  top: 0.5em;
  font-weight: bold;
  font-size: 1.2;
}

.tweets .user-handle{
  color: rgb(35, 35, 35, 0.6);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.5em 0.5em 0em 0em;
}

.tweets .tweet-age {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0.5em;
}

.tweets:hover {
  border: 1px solid black;
}

.tweets:hover .person-name{
  color: rgb(2, 20, 61);
}

.tweets:hover .profile-picture{
  opacity: 1;
}

.tweets:hover .user-handle{
  color: rgb(35, 35, 35, 1);
}

.tweets:hover .article-tweets-footer .icon{
  display: inline;
}

.tweets:hover .article-tweets-footer .retweet{
  display: inline;
}
.tweets:hover .article-tweets-footer .flag{
  display: inline;
}

.tweets:hover .article-tweets-footer .heart{
  display: inline;
}


.tweets:hover .article-tweets-header{
  background-color: rgb(0, 160, 135, 0.4)
}
